@model Models.Comment

@{
    ViewBag.Title = "Comments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Comments</h2>

@foreach (var item in ViewBag.ExistingComments)
{          
        <p><h4>@item.AuthorName</h4> @item.PostedDate</p>        
        <p>@item.CommentText</p>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        <br>
        <div class="editor-label">
            @Html.LabelFor(model => model.CommentText)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CommentText)
            @Html.ValidationMessageFor(model => model.CommentText)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuthorName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuthorName)
            @Html.ValidationMessageFor(model => model.AuthorName)
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
}

