@using Models
@model Topic

<h1>@Model.Title</h1>
<h3>
    @Model.PublishDate
</h3>
<br>
<div>
    @Model.Content
</div>
<br>
<div class="text">
    @foreach (Tag t in Model.Tags)
    {
    <span>#@t.TagWord</span>
    }
</div>
<br>
@foreach (TopicComment c in Model.Comments)
{
    <tr>
        <td><p><h3>@c.Comment.AuthorName</h3></p></td>
        <td><p class="text">@c.Comment.PostedDate</p></td>
        <td><p>@c.Comment.CommentText</p></td>
    </tr>
}
<br>

@*@Html.Partial("Partial1", Model.Comments)*@

<form action="" method="post">
    <p>Author</p>
    <p><input type="text" name="Comments.Add(Comment.AuthorName)" /></p>
    <p>Comment</p>
    <p><input type="text" name="Comments.Comment.CommentText" /></p>
    <input type="submit" value="Add new" />
</form>