@using Models
@model TopicCommentVM

<h1>@Model.topic.Title</h1>   
<h3>
    @Model.topic.PublishDate
</h3>
<br>
<div>
    @Model.topic.Content
</div>
<br>
<div class="text">
    @foreach (Tag t in Model.topic.Tags)
    {
    <span>#@t.TagWord</span>
    }
</div>
<br>
@foreach (TopicComment c in Model.topic.Comments)
{
    <tr>
        <td><p><h3>@c.Comment.AuthorName</h3></p></td>
        <td><p class="text">@c.Comment.PostedDate</p></td>
        <td><p>@c.Comment.CommentText</p></td>
    </tr>
}
<br>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(model => model.topic.TopicId);
    <p>Author</p>
    @Html.EditorFor(model => model.CommentToAdd.Comment.AuthorName);
    @Html.ValidationMessageFor(model => model.CommentToAdd.Comment.AuthorName)
    <p>Comment</p>
    @Html.EditorFor(model => model.CommentToAdd.Comment.CommentText);
    @Html.ValidationMessageFor(model => model.CommentToAdd.Comment.CommentText)
    <p><input type="submit" value="Add new" /></p>
}