<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <a name="top"></a>
    <header class="rounded">
        Logo
    </header>
    <div id ="main_body">
        <div class="content">            
            @RenderBody()
        </div>
        <nav id="right_sidebar">
            <ul class="text">
                <li>@Html.ActionLink("Main page", "Index", "Home")</li>
                <li>@Html.ActionLink("Guest page", "Comments", "Home")</li>
            </ul>
            <ul>
                <li>@RenderSection("Vote", false)</li>
            </ul>
        </nav>
        <footer class="text">
            Copyright 2014
            <br>
            <a href="#top">back to top</a>
        </footer>
    </div>
</body>
</html>
