@using Blog.Areas.Admin.Models
@model TopicVM
@{
    ViewBag.Title = "Index";
    @Styles.Render("~/Content/css")
    
}
<h2>Admin Panel:</h2>
    

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <br>
    <div class="editor-label">
        @Html.LabelFor(model => model.topic.Title)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(m => m.topic.Title, new { rows = 1, cols = 50 })
        @Html.ValidationMessageFor(model => model.topic.Title)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.topic.Content)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(m => m.topic.Content, new { rows = 20, cols = 50 })
        @Html.ValidationMessageFor(model => model.topic.Content)
    </div>
        <br>
            @Html.ListBoxFor(model => model.SelectedTags, Model.TagsPossible)
        <br>
    <p>
        <input type="submit" value="Create" />
    </p>
}
